@model MenuProject.Components.MenuViewModel

<nav class="sidebar bg-dark text-white p-3 vh-100" style="width: 250px;" id="sidebar-menu">
    <h4 class="text-center">Menü</h4>
    <ul class="nav flex-column">
        @foreach (var menu in Model.MainMenus)
        {
            var subMenuItems = Model.SubMenus.Where(sm => sm.ParentId == menu.Id).ToList();
            var url = menu.ControllerName == "Admin"
            ? Url.Action(menu.ActionName, menu.ControllerName, new { area = "Admin" })
            : Url.Action(menu.ActionName, menu.ControllerName);

            if (subMenuItems.Any()) // Alt menü varsa dropdown yap
            {
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-white" href="#" id="menu-@menu.Id" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="@menu.Icon"></i> @menu.Name
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="menu-@menu.Id">
                        @foreach (var subMenu in subMenuItems)
                        {
                            var subUrl = subMenu.ControllerName == "Admin"
                            ? Url.Action(subMenu.ActionName, subMenu.ControllerName, new { area = "Admin" })
                            : Url.Action(subMenu.ActionName, subMenu.ControllerName);

                            <li>
                                <a class="dropdown-item" href="@subUrl">
                                    <i class="@subMenu.Icon"></i> @subMenu.Name
                                </a>
                            </li>
                        }
                    </ul>
                </li>
            }
            else // Alt menü yoksa
            {
                <li class="nav-item">
                    <a class="nav-link text-white" href="@url">
                        <i class="@menu.Icon"></i> @menu.Name
                    </a>
                </li>
            }
        }
    </ul>

    <!--  Çıkış Yap Butonu -->
    <form asp-controller="Account" asp-action="Logout" asp-area="" method="post">
        <button type="submit" class="btn btn-danger w-100">
            <i class="fas fa-sign-out-alt"></i> Çıkış Yap
        </button>
    </form>
</nav>
