@model MenuProject.Components.MenuViewModel
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">

</head>
<div class="sidebar sidebar-dark sidebar-fixed border-end" id="sidebar">
    <div class="sidebar-header border-bottom">
        <div class="sidebar-brand">
            <img src="~/assets/logo.png" alt="Logo" width="100">
        </div>
    </div>

    <ul class="sidebar-nav" data-coreui="navigation" data-simplebar>
        @foreach (var menu in Model.MainMenus)
        {
            var subMenuItems = Model.SubMenus.Where(sm => sm.ParentId == menu.Id).ToList();
            var url = menu.ControllerName == "Admin"
            ? Url.Action(menu.ActionName, menu.ControllerName, new { area = "Admin" })
            : Url.Action(menu.ActionName, menu.ControllerName);

            if (subMenuItems.Any()) // Eğer alt menü varsa, dropdown yapalım
            {
                <li class="nav-group">
                    <a class="nav-link nav-group-toggle" href="#">
                        <i class="@menu.Icon nav-icon"></i> @menu.Name
                    </a>
                    <ul class="nav-group-items">
                        @foreach (var subMenu in subMenuItems)
                        {
                            var subUrl = subMenu.ControllerName == "Admin"
                            ? Url.Action(subMenu.ActionName, subMenu.ControllerName, new { area = "Admin" })
                            : Url.Action(subMenu.ActionName, subMenu.ControllerName);

                            <li class="nav-item">
                                <a class="nav-link" href="@subUrl">
                                    <i class="@subMenu.Icon nav-icon"></i> @subMenu.Name
                                </a>
                            </li>
                        }
                    </ul>
                </li>
            }
            else // Eğer alt menü yoksa, tek başına link olarak gösterelim
            {
                <li class="nav-item">
                    <a class="nav-link" href="@url">
                        <i class="@menu.Icon nav-icon"></i> @menu.Name
                    </a>
                </li>
            }
        }
    </ul>

    <!-- Çıkış Yap Butonu -->
    <div class="sidebar-footer border-top p-2">
        <form asp-controller="Account" asp-action="Logout" asp-area="" method="post">
            <button type="submit" class="btn btn-danger w-100 d-flex align-items-center justify-content-center">
                <i class="fa-solid fa-sign-out-alt me-2"></i>
                <span>Çıkış Yap</span>
            </button>
        </form>
    </div>
</div>
